:root {
  --white: #ffffff;
  --primary-50: #f9f5ff;
  --primary-100: #f4ebff;
  --primary-300: #d6bbfb;
  --primary-700: #6941c6;
  --gray-100: #f2f4f7;
  --gray-300: #d0d5dd;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-900: #101828;

  --bradius: 8px;
  --padding-md: 10px 14px;
  --shadow-xs: 0 1px 2px rgba(16, 24, 40, 0.05);
  --focus-shadow: var(--shadow-xs), 0 0 0 4px var(--primary-100);
  --transition: all 0.3s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 0.75rem 0.5rem;
}

#preview-container {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background-color: var(--gray-500);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.input-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.input-fields input {
  width: 100%;
  padding: var(--padding-md);
  border: 1px solid var(--gray-300);
  border-radius: var(--bradius);
  background-color: var(--white);
  box-shadow: var(--shadow-xs);
  transition: var(--transition);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

input::placeholder {
  color: var(--gray-500);
}

input:hover::placeholder {
  color: var(--gray-900);
}

input:focus {
  border: 1px solid var(--primary-300);
  box-shadow: var(--focus-shadow);
}